@tailwind base;

@tailwind components;

@tailwind utilities;

.hamburger-line {
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    transition: all .3s ease-in-out;
    background-color: #2fa837;
    border-radius: 5px;
}

.hamburger.active .hamburger-line:nth-child(2){
    opacity: 0;
}

.hamburger.active .hamburger-line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .hamburger-line:nth-child(3){
    transform:translateY(-8px) rotate(-45deg);
}

.header-nav {
    transition: transform .3s ease-in-out;
}

.header-nav.active {
    transform: scaleY(1);
    opacity: 1;
    display: block;
}

.dropdown {

}

.dropdown-img.active {
    transform: rotate(-180deg);
}

.dropdown-content {
    transition: all .3s ease-in-out;
}

.dropdown.active .dropdown-content {
    opacity: 1;
    transform: scaleY(1);
    max-height: 1000px;
    display: block;
}

.social-link:hover .social-icon,
.social-link:hover .social-icon circle,
.social-link:hover .social-icon path,
.social-link:focus .social-icon,
.social-link:focus .social-icon circle,
.social-link:focus .social-icon path{
    stroke: #2fa837;
}


