@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    html {
        font-family: 'FiraGO', sans-serif;
    }
}

.hamburger-line {
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    transition: all .3s ease-in-out;
    background-color: #2fa837;
    border-radius: 5px;
}

.hamburger.active .hamburger-line:nth-child(2){
    opacity: 0;
}

.hamburger.active .hamburger-line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .hamburger-line:nth-child(3){
    transform:translateY(-8px) rotate(-45deg);
}

.header-nav {
    transition: transform .3s ease-in-out;
}

.header-nav.active {
    transition: transform .3s ease-in-out;
    transform: scaleY(1);
    opacity: 1;
    display: block;
}

.dropdown-img.active {
    transition: transform .3s ease-in-out;
    transform: rotate(-180deg);
}

.dropdown-content {
    transition: all .3s ease-in-out;
}

.dropdown.active .dropdown-content {
    transition: transform .3s ease-in-out;
    opacity: 1;
    transform: scaleY(1);
    max-height: 1000px;
    display: block;
}

.social-link:hover .social-icon,
.social-link:hover .social-icon circle,
.social-link:hover .social-icon path,
.social-link:focus .social-icon,
.social-link:focus .social-icon circle,
.social-link:focus .social-icon path{
    stroke: #2fa837;
}

.projects-page.active {
    transition: transform .3s ease-in-out;
    background: #32394d;
    color: white;
}

.news-dropdown.active::before{
    width: 4px;
}

.news-dropdown.active ul {
    transition: all .3s ease-in-out;
    display: flex;
    transform: scaleY(1);
}

.news-dropdown-img {
    transition: all .3s ease-in-out;
}

.news-dropdown-img.active {
    transition: transform .3s ease-in-out;
    transform: rotate(-180deg);
}


.news-hamburger-line {
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    transition: all .3s ease-in-out;
    background-color: #32394d;
    border-radius: 5px;
}

.news-hamburger.active .news-hamburger-line:nth-child(2){
    opacity: 0;
}

.news-hamburger.active .news-hamburger-line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.news-hamburger.active .news-hamburger-line:nth-child(3){
    transform:translateY(-8px) rotate(-45deg);
}

.nav-dropdown {
    transition: transform .3s ease-in-out;
}


.nav-dropdown.active .nav-hidden {
    transition: transform .3s ease-in-out;
    transform: scaleY(1);
    opacity: 1;
    display: block;
}

.projects-more {
    scroll-behaviour: smooth;
}

@media screen and (min-width: 1024px) {
    .nav-hidden {
        transform: scaleY(1);
        opacity: 1;
        display: block;
    }
}
